<h1>List of Top Movies:</h1>

<%= button_to "Top 20 Movies", movies_user_path(id: params[:id]), method: :get, params: { q: "top rated"} %>

<h1>Search For a Movie By Title:</h1>

<%= form_with url: movies_user_path(id: params[:id]), method: :get, local: true do |form| %>
  <%= form.hidden_field :q, value: "search" %><!-- this was the fix I needed to get the params for the controller!-->
  <%= form.label :search, "Movie Title" %>
  <%= form.text_field :search %>
  <%= form.submit 'Search' %>
<% end %>